/Serveur/build/
/Serveur_Reel/CppApplication_1/build/
/Serveur_Reel/CppApplication_1/dist/
/C/ChattTCP/build/
/C/ChattTCP/dist/
/C/CppApplication_1/dist/
/C/CppApplication_1/build/
/C/CppApplication_3/build/
/C/CppApplication_3/dist/
/C/CppApplication_4/build/
/C/CppApplication_4/dist/
/C/Pipe/build/
/C/Pipe/dist/
/C/Pipe reponse/dist/
/C/Pipe reponse/build/
/C/pipe1/build/
/C/pipe1/dist/
/C/tdSocketServTCP (copie)/build/
/C/tdSocketServTCP (copie)/dist/
/C/Pipe1/build/
/C/Pipe1/dist/
/C/Pipe2/build/
/C/Pipe2/dist/